body {
  background-color: hsl(275, 100%, 97%);
  font-family: "Worksans";
  color: hsl(292, 42%, 14%);
  margin: 0;
}

@font-face {
  font-family: "Worksans";
  src: url(/assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
  src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}

.top-image {
  height: 30vh;
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-size: cover;
  background-position: center;
}

.container {
  padding: 20px;
  margin: auto;
  max-width: 350px;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  position: relative;
  top: -60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.accordion {
  display: flex;
  align-items: center;
  margin-top: -15px;
  margin-bottom: -20px;
}

.star {
  padding-right: 10px;
  width: 7%;
}

.questions div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20px;
  cursor: url("/assets/images/cursor.svg") 0 0, pointer;
}

.questions img {
  width: 6%;
}

h6 {
  font-weight: 600;
}

h6:hover {
  color: hsl(293, 68%, 46%);
}

p {
  display: none;
  font-size: 0.65rem;
  margin: 5px 0 0 0;
  color: hsl(292, 16%, 49%);
  line-height: 1rem;
}

.attribution {
  margin-top: -40px;
  font-size: 13px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    max-width: 300px;
  }

  h6 {
    font-size: 0.95rem;
  }

  p {
    font-size: 0.95rem;
  }

  .star {
    width: 10%;
  }

  .questions img {
    width: 9%;
  }
}
